# Ignore Python cache files
__pycache__/
*.pyc

app/__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore virtual environment
venv/
envPDF/

# Ignore Others

learning/

.history

learning/