# Ignore Python cache files
__pycache__/
*.pyc
.history/
app/__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
*.tmp

# Ignore virtual environment
.venv/
.venv-py1310/
envPDF/

# Ignore Others

learning/

.history

learning/

paths.json
requirements.txtpaths.json
paths.json
