<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/copy.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/NSE.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
    <header class="header">
        <div class="hero">
            <a href="{{ url_for('index') }}" data-action="back">
                <img src="{{ url_for('static', filename='img/logo_nse.png') }}" alt="Logo">
            </a>
            <h1>  CSV  <span class="material-symbols-outlined">swap_horiz</span>  JSON  <span class="material-symbols-outlined">line_end_arrow</span>  ADMIN  </h1>
        </div>

        <div class="editor-controls">
            <a href="{{ url_for('index') }}" class="nav-btn" data-action="back">
                <span class="material-symbols-outlined">arrow_back</span>
            </a>
        </div>
    </header>

    <div class="page csvtojson">
        <div class="csv-container">

            <!-- CARD 1: CSV -->
            <div class="csv-card" data-card="csv" data-state="idle">
                <h3 class="title" id="csvTitle">UPLOAD CSV</h3>

                <label class="csv-upload">
                    <span class="material-symbols-outlined">csv</span>
                    <input type="file" id="csvInput" accept=".csv" hidden>
                </label>

                <div class="card-actions">
                    <button class="nav-btn secondary" id="csvDldBtn" disabled>
                        <span class="material-symbols-outlined">download_2</span>
                    </button>
                    <button class="nav-btn" id="csvConvertBtn" disabled>CSV to JSON</button>
                       <!-- <span class="material-symbols-outlined" title = "convert to json">convert_to_text</span> -->
                </div>

                <!-- overlay -->
                <div class="card-overlay hidden">
                    <span class="spinner"></span>
                    <span class="overlay-text">Uploading CSV…</span>
                </div>
            </div>

                <!-- <span class="material-symbols-outlined">swap_horiz</span> -->
 

            <!-- CARD 2: JSON -->
            <div class="csv-card" data-card="json" data-state="waiting">
                <h3 class="title" id="jsonTitle">UPLOAD JSON</h3>

                <label class="csv-upload">
                    <span class="material-symbols-outlined">file_json</span>
                    <input type="file" id="inputJson" accept=".json" hidden>
                </label>

                <div class="card-actions">
                    <button class="nav-btn" id="jsnConvertBtn" disabled>JSON to CSV</button>
                       <!-- <span class="material-symbols-outlined" title = "convert to csv">table_convert</span> -->
    

                    <button class="nav-btn secondary" id="jsonDldBtn" disabled>
                        <span class="material-symbols-outlined">download_2</span>
                    </button>

                    <button class="nav-btn secondary" id="jsonViewBtn" disabled>
                       <span class="material-symbols-outlined">open_in_new</span>
                    </button>
                </div>

                <div class="card-overlay hidden">
                    <span class="spinner"></span>
                    <span class="overlay-text">Processing JSON…</span>
                </div>
            </div>

            <!-- CARD 3: STATUS -->
            <div class="csv-card" data-card="status" data-state="waiting">
                <h3 class="title">ADMIN PANEL</h3>

                <label class="csv-upload">
                    <pre id="statusConsole" class="mono"> Waiting for input…</pre>
                </label>

                <div class="card-actions">
                    <button class="nav-btn" id="jsonPushBtn" disabled>
                       to Admin Panel
                    </button>
                </div>

            </div>

        </div>
    </div>

</body>
<script src="{{ url_for('static', filename='js/csv_flow.js') }}"></script>

</html>