<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/copy.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/NSE.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
    <header class="header">
        <div class="hero">
            <a href="{{ url_for('index') }}" data-action="back">
                <img src="{{ url_for('static', filename='img/logo_nse.png') }}" alt="Logo">
            </a>
            <h1>SP-Call/CSV/JSON</h1>
        </div>

        <div class="editor-controls">
            <a href="{{ url_for('index') }}" class="nav-btn" data-action="back">
                <span class="material-symbols-outlined">arrow_back</span>
            </a>
        </div>
    </header>

    <div class="page csvtojson">
        <div class="csv-container">

            <!-- CARD 1: CSV UPLOAD -->
            <div class="csv-card">
                <h3 class="title">UPLOAD</h3>
                <label class="csv-upload">
                    <span class="material-symbols-outlined">csv</span>
                    <input type="file" id="csvInput" accept=".csv" hidden>
                </label>
                <div class="card-actions">
                    <button class="nav-btn" id="csvConvertBtn" disabled>
                        Convert
                    </button>

                    <!-- <button class="nav-btn secondary" id="csvDownloadBtn" disabled>
                        Download
                    </button> -->
                </div>
            </div>

            <!-- CARD 2: JSON UPLOAD -->
            <div class="csv-card">
                <h3 class="title">UPLOAD</h3>

                <label class="csv-upload">
                    <span class="material-symbols-outlined">file_json</span>

                    <input type="file" id="inputJson" accept=".json" hidden>
                </label>

                <div class="card-actions">
                    <button class="nav-btn" id="jsonPushBtn" disabled>
                        PushtoA
                    </button>

                    <button class="nav-btn secondary" id="jsonViewBtn" disabled>
                        View
                    </button>
                </div>
            </div>

            <!-- CARD 3: STATUS -->
            <div class="csv-card">
                <h3 class="title">Admin Panel</h3>

                <label class="csv-upload">
                    <span class="material-symbols-outlined">database</span>
                </label>
                <pre id="statusConsole" class="mono"> Waiting for input… </pre>
            </div>

        </div>

        <div class="loader">
            <div class="bar"></div>

            <div class="check-bar-container">
                <div></div>

                <div class="check">
                    <svg stroke="white" stroke-width="2" viewBox="0 0 24 24" fill="none">
                        <path d="m4.5 12.75 6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                </div>

                <div class="check">
                    <svg stroke="white" stroke-width="2" viewBox="0 0 24 24" fill="none">
                        <path d="m4.5 12.75 6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{{ url_for('static', filename='js/csv_flow.js') }}"></script>

</html>