<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV -> JSON -> ADMIN PANEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/NSE.ico') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
<header class="header">
    <div class="hero">
        <a href="{{ url_for('index') }}" data-action="back">
            <img src="{{ url_for('static', filename='img/logo_nse.png') }}" alt="Logo">
        </a>
        <h1>CSV -> JSON -> ADMIN PANEL</h1>
    </div>

    <div class="editor-controls">
        <!-- <label for="dateSelect"><strong>Date:</strong></label>
        <input type="date" id="dateSelect" class="input" style="padding:6px 10px;">

        <div class="right-controls">
            <button class="nav-btn" data-action="load">Load</button>
            <button class="nav-btn" data-action="refresh" title="Refresh">
                <span class="material-symbols-outlined">autorenew</span>
            </button>
        </div> -->

        <a href="{{ url_for('index') }}" class="nav-btn" data-action="back">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>
    </div>
</header>

<section>
    
</section>
</body>

</html>