<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Factsheet Parser Dashboard</title>

    <link rel="icon" href="{{ url_for('static', filename='img/NSE.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/copy.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>

    <!-- ================= HEADER ================= -->
    <header class="header">
        <div class="hero">
            <img src="{{ url_for('static', filename='img/logo_nse.png') }}" alt="Logo">
            <h1>FACTSHEET PARSER</h1>
        </div>

        <div class="user-section">
            <a href="{{ url_for('csv_to_json') }}" class="nav-btn" data-action="new-tab">
                <span class="material-symbols-outlined" title="csv-json-sp">convert_to_text</span>
            </a>

            <a href="{{ url_for('daily_logs') }}" class="nav-btn" data-action="new-tab">
                <span class="material-symbols-outlined" title="log-book">book_2</span>
            </a>

            <button class="nav-btn" data-action="open-upload">
                <span class="material-symbols-outlined" title="upload-factsheet">upload_file</span>
            </button>

            <a href="{{ url_for('sid_data') }}" class="nav-btn" data-action="new-tab" title="upload-sid/kim">
                <strong>SIID</strong>
            </a>

            {% if role == 'admin' %}
            <a href="{{ url_for('config_editor') }}" class="nav-btn" data-action="new-tab">
                <span class="material-symbols-outlined" title="config-editor">handyman</span>
            </a>
            {% endif %}

            <a href="{{ url_for('amc_data') }}" class="nav-btn" data-action="new-tab" title="check-amc">
                <strong>AMC</strong>
            </a>
            <span class="user-name">{{ user|capitalize }}</span>

            <a href="{{ url_for('logout') }}" class="logout-btn">
                <span class="material-symbols-outlined">logout</span>
            </a>
        </div>
    </header>

    <!-- ================= PAGE ================= -->
    <div class="page page-dashboard">

        <div class="panel">
            <div class="logs-bar">
                <h3>Status Report</h3>

                <div class="right-controls">
                    <label class="auto-refresh">
                        <input type="checkbox" id="autoRefresh">
                        <strong>auto-reload</strong>
                    </label>

                    <button class="icon-btn" data-action="refresh-logs">
                        <span class="material-symbols-outlined">refresh</span>
                    </button>
                </div>
            </div>

            <div id="logsConsole" class="mono">
                <p>Loading status…</p>
            </div>

            <!-- <div id="logpagination"></div> -->
            <div id="logpagination" class="pagination">
                <a href="#" class="arrow">‹</a>
                <a href="#" class="active">1</a>
                <a href="#" class="arrow">›</a>
            </div>

        </div>

    </div>

    <!-- ================= UPLOAD MODAL ================= -->
    <div id="uploadModal" class="modal">
        <div class="modal-content">

            <div class="flex-between">
                <h3>Upload Files</h3>
                <button class="icon-btn" data-action="close-upload">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </div>

            <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">

                <div class="flex-between" style="margin-top:12px">
                    <label for="pdfs" class="nav-btn">
                        <span class="material-symbols-outlined">upload_file</span>
                        Select PDF
                    </label>

                    <input type="file" name="pdfs" id="pdfs" accept="application/pdf" multiple hidden>

                    <div id="sizeDisplay"><strong>Size 0 Mb / 50 Mb</strong></div>
                </div>

                <div class="upload-console" id="uploadConsole"></div>

                <div class="center" style="margin-top:12px">
                    <button type="submit" class="nav-btn">
                        <span class="material-symbols-outlined">upload</span>
                        Upload PDF
                    </button>
                </div>

            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>