<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Factsheet Parser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="main-bg">
        <div class="header">
            <div class="hero">
                <img src="{{ url_for('static', filename='img/logo_nse.svg') }}" alt="Logo">
                <h1>FACTSHEET PARSER</h1>
            </div>
        </div>

        <div class="main form-container">
            <h2>Login</h2>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <form method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <!-- <label><input type="checkbox" name="remember"> Remember me</label> -->
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
        </div>
    </section>
</body>
</html>
