<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SID Data</title>

    <link rel="icon" href="{{ url_for('static', filename='img/NSE.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/copy.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>

    <!-- ================= HEADER ================= -->
    <header class="header">
        <div class="hero">
            <a href="{{ url_for('index') }}" data-action="back">
                <img src="{{ url_for('static', filename='img/logo_nse.png') }}" alt="Logo">
            </a>
            <h1>SID PROCESS</h1>
        </div>

        <a href="{{ url_for('index') }}" class="nav-btn" data-action="back">
            <span class="material-symbols-outlined">arrow_back</span>
        </a>
    </header>

    <!-- ================= PAGE ================= -->
    <div class="sid-root">

        <div class="sid-main">

            <!-- ================= PDF PANEL (80%) ================= -->
            <div class="sid-pdf-panel" id="pdfPanel">

                <!-- Upload State -->
                <label class="sid-upload" id="uploadBox">
                    <span class="material-symbols-outlined">upload_file</span>
                    <p>Upload SID/KIM PDF</p>
                    <input type="file" id="sidPdfInput" accept="application/pdf" hidden>
                </label>

                <!-- Viewer State -->
                <iframe id="pdfViewer" hidden></iframe>

            </div>

            <!-- ================= INPUT PANEL (20%) ================= -->
            <div class="sid-input-panel">

                <div class="sid-input-grid">

                    <!-- SID / KIM common -->
                    <div class="sid-field " id="field-1">
                        <input type="text" id="input1">
                        <label id="label1"></label>
                    </div>

                    <div class="sid-field" id="field-2">
                        <input type="text" id="input2">
                        <label id="label2"></label>
                    </div>

                    <!-- SID only -->
                    <div class="sid-field" id="field-3">
                        <input type="text" id="input3">
                        <label id="label3"></label>
                    </div>

                    <!-- process -->
                    <button id="sidProcessBtn" disabled>
                        <!-- <span class="material-symbols-outlined">play_arrow</span> -->
                        Process
                    </button>

                </div>


            </div>

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/sid_data.js') }}"></script>
</body>

</html>