{% extends "base.html" %}
{% load static %}
{% block page_title %}DAILY LOGS{% endblock %}

{% block header_actions %}

{% if role == 'admin' %}

<button class="nav-btn" title="JSON FILES" data-action="json">
    <span class="material-symbols-outlined">file_json</span>
</button>

<button class="nav-btn" title="CHECK REPORTS" data-action="report">
    <span class="material-symbols-outlined">monitoring</span>
</button>

<div class="space"> | </div>

{% endif %}

<label><strong>Log Type:</strong></label>
<select id="LogSelect" class="input"></select>

<label><strong>Date:</strong></label>
<input type="date" id="dateSelect" class="input">

<button class="nav-btn" data-action="load">Load</button>

<button class="nav-btn" data-action="refresh" title="Refresh">
    <span class="material-symbols-outlined">autorenew</span>
</button>

<a href="{% url 'dashboard' %}" class="nav-btn" data-action="back">
    <span class="material-symbols-outlined">arrow_back</span>
</a>

{% endblock %}

{% block main_class %}
{% endblock %}

{% block content %}

<div class="data-container">

    <div class="log-wrapper scrollable">

        <div id="lineNumbers" class="line-numbers">1</div>

        <div id="logViewer" class="log-content">
            Select a date to load logs…
        </div>

    </div>

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'webapp/js/daily_logs.js' %}"></script>
{% endblock %}