{% extends "base.html" %}
{% load static %}

{% block page_title %}
Config Editor
{% endblock %}

{% block header_actions %}

<div id="errorDisplay" class="error-message"></div>
<label><strong>Year:</strong></label>
<select id="yearSelect" class="input"></select>

<label><strong>File:</strong></label>
<select id="fileSelect" class="input"></select>

<button class="nav-btn" data-action="load" title="Load">
  <span class="material-symbols-outlined">cached</span>
</button>

<button class="nav-btn" data-action="save" title="Save">
  <span class="material-symbols-outlined">save</span>
</button>

<button class="nav-btn" data-action="create" title="Create">
  <span class="material-symbols-outlined">add_box</span>
</button>

<button class="nav-btn" data-action="delete" title="Delete">
  <span class="material-symbols-outlined">delete</span>
</button>

<button class="nav-btn" data-action="backup" title="Backup">
  <span class="material-symbols-outlined">backup</span>
</button>

<a href="{% url 'dashboard' %}" class="nav-btn" data-action="back">
  <span class="material-symbols-outlined">arrow_back</span>
</a>

{% endblock %}

{% block main_class %}
{% endblock %}

{% block content %}

<div class="data-container">

  <!-- <div class="log-wrapper scrollable">
      <textarea id="jsonInput" placeholder="Edit JSON here..."></textarea>
  </div> -->

  <div class="editor-panel">
    <div id="jsonEditor"></div>
  </div>

</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jsoneditor@9.10.0/dist/jsoneditor.min.js"></script>
<script src="{% static 'webapp/js/config_editor.js' %}"></script>
{% endblock %}