{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>

  <!-- ================= HEADER ================= -->
  <header class="header">
    <div class="hero">
      {% include "logo.html" %}
      <h1>Mutual Fund Data</h1>
    </div>
    <div class="user-section">

      <a href="{% url 'dashboard' %}" class="nav-btn" data-action="back">
        <span class="material-symbols-outlined">arrow_back</span>
      </a>
      <span class="user-name">{{ user|capfirst }}</span>

      <a href="{% url 'logout' %}" class="logout-btn">
        <span class="material-symbols-outlined">exit_to_app</span>
      </a>
    </div>

  </header>

  <!-- ================= PAGE ================= -->
  <div class="page page-amc">
    <div class="card-container">

      <div class="table-responsive">
        <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th>AMC ID</th>
              <th>AMC Name</th>
              <th>FS Class 0</th>
              <th>FS Class 1</th>
              <th>SID Class</th>
              <th>Website</th>
            </tr>
          </thead>
          <tbody id="amc-table-body"></tbody>
        </table>
      </div>

    </div>
  </div>
  <script src="{% static 'webapp/js/amc_data.js' %}"></script>
</body>

</html>