{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<head>
    <style>
        .handle-card {
            background-color: #e6e9f1;
        }
        .handle-upload {
            cursor: pointer;
            border: 2px dashed #cbd5f5;
            border-radius: 12px;
            padding: 40px;
            text-align: center;
            color: #cbd5f5;
            width:300px;
            height:300px;
            background-color: #1e293b;
        }

    </style>
</head>

<body class="d-flex flex-column vh-100">

    <!-- ================= HEADER ================= -->
    <header class="header">
        <div class="hero">
            {% include "logo.html" %}
            <h1>Validate Data</h1>
        </div>
        <div class="user-section editor-controls">

            <a href="{% url 'dashboard' %}" class="nav-btn" data-action="back">
                <span class="material-symbols-outlined">arrow_back</span>
            </a>
            <span class="user-name">{{ user|capfirst }}</span>

            <a href="{% url 'logout' %}" class="logout-btn">
                <span class="material-symbols-outlined">exit_to_app</span>
            </a>
        </div>
    </header>

    <!-- ================= PAGE ================= -->

    <div class="container-fluid flex-grow-1">
        <div class="row h-100 handle-card">
            <div class="col-6" style="border: 2px solid #ff5733; height:100%">
        

                    <!-- Upload State -->
                    <label class="handle-upload" id="uploadBox">
                        <span class="material-symbols-outlined">upload_file</span>
                        <p>Upload </p>
                        <input type="file" id="sidPdfInput" accept="application/pdf" hidden>
                    </label>

                    <!-- Viewer State -->
                    <iframe id="pdfViewer" hidden></iframe>

            </div>
            <div class="col-6" style="border: 2px solid #ff7733; height:100%">
                                    <!-- Upload State -->
                    <label class="handle-upload" id="uploadBox">
                        <span class="material-symbols-outlined">upload_file</span>
                        <p>Upload </p>
                        <input type="file" id="sidPdfInput" accept="application/pdf" hidden>
                    </label>

                    <!-- Viewer State -->
                    <iframe id="pdfViewer" hidden></iframe>
            </div>
        </div>
    </div>

</body>

<script>
    const pdfInput = document.getElementById('pdfFile');
    const canvas = document.getElementById('pdfCanvas');
    const ctx = canvas.getContext('2d');

    pdfInput.addEventListener('change', async (e) => {
        const file = e.target.files[0];
        if (!file) return;

        const reader = new FileReader();
        reader.onload = async function () {
            const typedarray = new Uint8Array(this.result);

            // Load PDF using PDF.js
            const pdf = await pdfjsLib.getDocument({ data: typedarray }).promise;
            const page = await pdf.getPage(1);

            const viewport = page.getViewport({ scale: 1.5 });
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            await page.render({ canvasContext: ctx, viewport }).promise;
        };
        reader.readAsArrayBuffer(file);
    });


</script>

</html>