{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>

  <!-- ================= HEADER ================= -->
  <header class="header">
    <div class="hero">
      {% include "logo.html" %}
      <h1>CONFIG EDITOR</h1>
    </div>

    <div class="user-section editor-controls">
      <div id="errorDisplay" class="error-message"></div>

      <label><strong>Year:</strong></label>
      <select id="yearSelect" class="input"></select>

      <label><strong>File:</strong></label>
      <select id="fileSelect" class="input"></select>

      <button class="nav-btn" data-action="load" title="Load">
        <span class="material-symbols-outlined">cached</span>
      </button>

      <button class="nav-btn" data-action="save" title="Save">
        <span class="material-symbols-outlined">save</span>
      </button>

      <button class="nav-btn" data-action="create" title="Create">
        <span class="material-symbols-outlined">add_box</span>
      </button>

      <button class="nav-btn" data-action="delete" title="Delete">
        <span class="material-symbols-outlined">delete</span>
      </button>

      <button class="nav-btn" data-action="backup" title="Backup">
        <span class="material-symbols-outlined">backup</span>
      </button>

      <a href="{% url 'dashboard' %}" class="nav-btn" data-action="back">
        <span class="material-symbols-outlined">arrow_back</span>
      </a>
      <span class="user-name">{{ user|capfirst }}</span>

      <a href="{% url 'logout' %}" class="logout-btn">
        <span class="material-symbols-outlined">exit_to_app</span>
      </a>
    </div>
  </header>

  <!-- ================= PAGE ================= -->
  <div class="page page-editor">

    <div class="editor-panel">
      <textarea id="jsonInput" placeholder="Edit JSON here..."></textarea>
    </div>

  </div>
  <script src="{% static 'webapp/js/config_editor.js' %}"></script>
</body>

</html>